.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.name {
  font-size: 15px;
  font-weight: 500;
  text-shadow: 2px 2px black;
  text-align: center;
}
.character {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}
.content {
  margin: 0 auto;
}

